{% load hitcount_tags %}
<html>
    <head>
        <title>Recommended Posts</title>
    </head>
    <body>
        {% if page_obj %}
        <!-- Search form -->
        <div>
            <form method="get">
                <input type="text" placeholder="Search" name='q' value="{{ search_query }}" >
                <button type="butotn">Search</button>
            </form>
        </div>
        <!--  Post objects list  -->
        <div>
            {% for post in page_obj %}
            <a href="{% url 'posts:post_detail' post.pk %}"><h2>{{ post.title }}</h2></a>
            <h4>{{ post.hit_count.hits }}</h4>
            {% if post.picture %}
                <img src="{{ post.picture.url }}" alt="There is a image">
            {% endif %}
            <h4>{{ post.text }}</h4>
            <p>{{ post.publish_time }}</p>
            {% endfor %}
        </div>
        <!-- paginator links -->
        <div>
            {% if page_obj.has_previous %}            
            <span><a href="?page=1">First page</a></span>
            <span><a href="{% url 'posts:recommended' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></span>
            {% endif %}
            <span><a href="{% url 'posts:recommended' %}?page={{ page_obj.number }}">{{ page_obj.number }}</a></span>
            {% if page_obj.has_next %}
            <span><a href="{% url 'posts:recommended' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></span>
            <span><a href="{% url 'posts:recommended' %}?page={{ page_obj.paginator.num_pages }}">Last page</a></span>
            {% endif %}
        </div>
        {% else %}
        No posts found
        {% endif %}
    </body>
</html>