{% load hitcount_tags %}
<html>
    <head>
        <title>Famous</title>
    </head>
    <body>
        <div>
            <form class="d-flex" method="get">
                <input class="form-control" type="text" placeholder="Search" name="q" value="{{ search_query }}">
                <button class="btn btn-success">Search</button>
            </form>
        </div>

        {% for post in page_obj %}
        <a href="{% url 'posts:post_detail' post.pk %}"><h4>{{post.title}}</h4></a>
        {% if post.picture %}
            <img src="{{ post.picture.url }}" alt="There is a image">
        {% endif %}
        <p>Seen:{{ post.hit_count.hits }}</p>
        <h4>{{post.text}} </h4>
        {% endfor %}

        {% if page_obj.has_previous %}
        <span><a href="?page=1">First page</a></span>        
        <span><a href="{% url 'posts:weekend' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></span>
        {% endif %} 

        <span><a href="{% url 'posts:weekend' %}?page={{ page_obj.number }}">{{ page_obj.number }}</a></span>

        {% if page_obj.has_next %}
        <span><a href="{% url 'posts:weekend' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></span>
        <span><a href="{% url 'posts:weekend' %}?page={{ page_obj.paginator.num_pages }}">Last page</a></span>
        {% endif %}
    </body>
</html>